@import "tailwindcss";
@import "@heroui/styles";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans: "font", sans-serif;
	--font-mono: "monospace", monospace;
}

/* Editor Placeholder */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #a1a1aa;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
